@model IEnumerable<SpaceXAPILaunchesTake2.Models.LaunchModel>

@{
    ViewData["Title"] = "Launches";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rocket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Success)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rocket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Success)
            </td>
        </tr>
}
    </tbody>
</table>
